@model Omack.Web.ViewModels.UserLoginModel
@{
    ViewData["Title"] = "Select";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">

</div>
@foreach(var v in Model)
<h2>Select</h2>

